{
	"openapi": "3.1.0",
	"info": {
		"title": "The Prompting Company API",
		"version": "0.1.0",
		"description": "Machine-readable contract for The Prompting Company organization-scoped API routes.",
		"contact": {
			"name": "The Prompting Company",
			"url": "https://promptingcompany.com/support",
			"email": "support@promptingcompany.com"
		},
		"license": {
			"name": "Proprietary",
			"url": "https://promptingcompany.com/terms"
		},
		"termsOfService": "https://promptingcompany.com/terms"
	},
	"tags": [
		{
			"name": "Visibility & Mentions"
		},
		{
			"name": "Knowledge"
		},
		{
			"name": "Content"
		},
		{
			"name": "Simulations"
		},
		{
			"name": "Apps & Publishing"
		},
		{
			"name": "Products"
		},
		{
			"name": "Service Status"
		}
	],
	"servers": [
		{
			"url": "https://app.promptingco.com",
			"description": "Production"
		},
		{
			"url": "http://localhost:3000",
			"description": "Local development"
		}
	],
	"components": {
		"securitySchemes": {
			"apiKeyAuth": {
				"type": "apiKey",
				"in": "header",
				"name": "x-api-key",
				"description": "Organization-scoped API key. Available scopes:\n- content:read: Read site pages, markdown content, and llms.txt files\n- content:write: Create, update, and delete site pages and content\n- prompts:read: Read prompts, topics, prompt suggestions, and prompt analysis results\n- prompts:write: Create, update, archive prompts and generate, edit, or review prompt suggestions\n- simulations:read: Read agent-simulation tasks, runs, environments, and analytics\n- simulations:write: Create and trigger simulation runs\n- logs:read: Read AI-traffic logs and request-level audit events\n- analytics:read: Read analytics aggregates (rankings, mentions, sources, SOV)\n- analytics:write: Write events to analytics\n- products:read: Read product metadata and competitor data\n- products:write: Update product settings and competitor lists",
				"x-scopes": {
					"content:read": "Read site pages, markdown content, and llms.txt files",
					"content:write": "Create, update, and delete site pages and content",
					"prompts:read": "Read prompts, topics, prompt suggestions, and prompt analysis results",
					"prompts:write": "Create, update, archive prompts and generate, edit, or review prompt suggestions",
					"simulations:read": "Read agent-simulation tasks, runs, environments, and analytics",
					"simulations:write": "Create and trigger simulation runs",
					"logs:read": "Read AI-traffic logs and request-level audit events",
					"analytics:read": "Read analytics aggregates (rankings, mentions, sources, SOV)",
					"analytics:write": "Write events to analytics",
					"products:read": "Read product metadata and competitor data",
					"products:write": "Update product settings and competitor lists"
				}
			},
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT",
				"description": "Bearer session or OAuth access token. Available OAuth scopes:\n- content:read: Read site pages, markdown content, and llms.txt files\n- content:write: Create, update, and delete site pages and content\n- prompts:read: Read prompts, topics, prompt suggestions, and prompt analysis results\n- prompts:write: Create, update, archive prompts and generate, edit, or review prompt suggestions\n- simulations:read: Read agent-simulation tasks, runs, environments, and analytics\n- simulations:write: Create and trigger simulation runs\n- logs:read: Read AI-traffic logs and request-level audit events\n- analytics:read: Read analytics aggregates (rankings, mentions, sources, SOV)\n- analytics:write: Write events to analytics\n- products:read: Read product metadata and competitor data\n- products:write: Update product settings and competitor lists",
				"x-scopes": {
					"content:read": "Read site pages, markdown content, and llms.txt files",
					"content:write": "Create, update, and delete site pages and content",
					"prompts:read": "Read prompts, topics, prompt suggestions, and prompt analysis results",
					"prompts:write": "Create, update, archive prompts and generate, edit, or review prompt suggestions",
					"simulations:read": "Read agent-simulation tasks, runs, environments, and analytics",
					"simulations:write": "Create and trigger simulation runs",
					"logs:read": "Read AI-traffic logs and request-level audit events",
					"analytics:read": "Read analytics aggregates (rankings, mentions, sources, SOV)",
					"analytics:write": "Write events to analytics",
					"products:read": "Read product metadata and competitor data",
					"products:write": "Update product settings and competitor lists"
				}
			},
			"cookieAuth": {
				"type": "apiKey",
				"in": "cookie",
				"name": "better-auth.session_token",
				"description": "First-party browser session cookie."
			}
		},
		"schemas": {},
		"parameters": {}
	},
	"paths": {
		"/api/v1/runtime-capabilities": {
			"get": {
				"operationId": "getRuntimeCapabilities",
				"summary": "Verify production runtime capabilities",
				"description": "Runs a fixed, local, read-only probe of the production runtime. It accepts no model, text, module, URL, or filesystem input and performs no paid or third-party operation.",
				"tags": ["Service Status"],
				"security": [],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"status": {
													"type": "string",
													"enum": ["ok"]
												},
												"checkedAt": {
													"type": "string"
												},
												"durationMs": {
													"type": "integer",
													"minimum": 0
												},
												"cached": {
													"type": "boolean"
												},
												"capabilities": {
													"type": "object",
													"properties": {
														"huggingFaceTokenizer": {
															"type": "boolean",
															"enum": [true]
														},
														"htmlParser": {
															"type": "boolean",
															"enum": [true]
														},
														"reactEmailRenderer": {
															"type": "boolean",
															"enum": [true]
														},
														"queueClientModule": {
															"type": "boolean",
															"enum": [true]
														},
														"temporalClientModule": {
															"type": "boolean",
															"enum": [true]
														},
														"vectorDbClientModule": {
															"type": "boolean",
															"enum": [true]
														},
														"agentFrameworkModule": {
															"type": "boolean",
															"enum": [true]
														},
														"loggingTransportModule": {
															"type": "boolean",
															"enum": [true]
														}
													},
													"required": [
														"huggingFaceTokenizer",
														"htmlParser",
														"reactEmailRenderer",
														"queueClientModule",
														"temporalClientModule",
														"vectorDbClientModule",
														"agentFrameworkModule",
														"loggingTransportModule"
													]
												}
											},
											"required": [
												"status",
												"checkedAt",
												"durationMs",
												"cached",
												"capabilities"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/analytics/sov": {
			"get": {
				"operationId": "getAnalyticsSov",
				"summary": "Get share of voice accumulated over a date range",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID to use as the share of voice scope."
						},
						"required": true,
						"description": "Product ID to use as the share of voice scope.",
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "View ID to restrict the calculation to the view's prompts."
						},
						"required": false,
						"description": "View ID to restrict the calculation to the view's prompts.",
						"name": "viewId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Answer engine to include in the calculation."
						},
						"required": false,
						"description": "Answer engine to include in the calculation.",
						"name": "engine",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Region to include in the calculation."
						},
						"required": false,
						"description": "Region to include in the calculation.",
						"name": "regionId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
							"description": "First UTC day included in the calculation, formatted as YYYY-MM-DD. Must be supplied with end. Defaults to 29 days before today."
						},
						"required": false,
						"description": "First UTC day included in the calculation, formatted as YYYY-MM-DD. Must be supplied with end. Defaults to 29 days before today.",
						"name": "start",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
							"description": "Last UTC day included in the calculation, formatted as YYYY-MM-DD. Must be supplied with start. Defaults to today."
						},
						"required": false,
						"description": "Last UTC day included in the calculation, formatted as YYYY-MM-DD. Must be supplied with start. Defaults to today.",
						"name": "end",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product"]
												},
												"period": {
													"type": "object",
													"properties": {
														"start": {
															"type": "string",
															"description": "First included UTC calendar day, formatted as YYYY-MM-DD."
														},
														"end": {
															"type": "string",
															"description": "Last included UTC calendar day, formatted as YYYY-MM-DD."
														},
														"days": {
															"type": "integer",
															"minimum": 1,
															"description": "Number of included calendar days."
														}
													},
													"required": ["start", "end", "days"]
												},
												"calculation": {
													"type": "string",
													"enum": ["date_range"],
													"description": "Confirms that counts were accumulated over the period before the ratio was calculated."
												},
												"sov": {
													"type": "number",
													"description": "Share of voice percentage for the whole period. This is mentions divided by runs, multiplied by 100."
												},
												"mentions": {
													"type": "integer",
													"description": "Completed runs in the period that mentioned the product."
												},
												"runs": {
													"type": "integer",
													"description": "Completed runs in the period."
												}
											},
											"required": [
												"scope",
												"period",
												"calculation",
												"sov",
												"mentions",
												"runs"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/analytics/sov/timeseries": {
			"get": {
				"operationId": "getAnalyticsSovTimeseries",
				"summary": "Get rolling share of voice time series and breakdowns",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID to use as the primary SOV scope."
						},
						"required": false,
						"description": "Product ID to use as the primary SOV scope.",
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"deprecated": true,
							"description": "Deprecated. Use productId instead. Product ID to use as the primary SOV scope."
						},
						"required": false,
						"description": "Deprecated. Use productId instead. Product ID to use as the primary SOV scope.",
						"deprecated": true,
						"name": "brandId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["prompt", "topic", "engine", "competitor", "sentiment"]
						},
						"required": false,
						"name": "by",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "View ID to scope results to the view's prompts. Not supported with by=topic or topicId."
						},
						"required": false,
						"description": "View ID to scope results to the view's prompts. Not supported with by=topic or topicId.",
						"name": "viewId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "promptId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "topicId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "engine",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "regionId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["day", "week", "month"],
							"default": "day",
							"description": "UTC calendar bucket used for time-series points and as the unit for rollingWindow. Week buckets start on Monday."
						},
						"required": false,
						"description": "UTC calendar bucket used for time-series points and as the unit for rollingWindow. Week buckets start on Monday.",
						"name": "granularity",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 30,
							"default": 30,
							"description": "Number of granularity buckets included in each time-series point. Accepts 1 through 30 and defaults to 30."
						},
						"required": false,
						"description": "Number of granularity buckets included in each time-series point. Accepts 1 through 30 and defaults to 30.",
						"name": "rollingWindow",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
							"description": "Selects the earliest calendar bucket returned. Must be supplied with end. For week or month granularity, the containing bucket starts before this date and includes those earlier dates in its rolling calculation."
						},
						"required": false,
						"description": "Selects the earliest calendar bucket returned. Must be supplied with end. For week or month granularity, the containing bucket starts before this date and includes those earlier dates in its rolling calculation.",
						"name": "start",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
							"description": "Selects the latest calendar bucket returned. Must be supplied with start. For week or month granularity, the containing bucket is returned with data accumulated only through this date."
						},
						"required": false,
						"description": "Selects the latest calendar bucket returned. Must be supplied with start. For week or month granularity, the containing bucket is returned with data accumulated only through this date.",
						"name": "end",
						"in": "query"
					},
					{
						"schema": {
							"type": "boolean",
							"description": "Only valid with by=competitor. When true, return only the product's pinned competitors' SoV (paginated over the pinned subset)."
						},
						"required": false,
						"description": "Only valid with by=competitor. When true, return only the product's pinned competitors' SoV (paginated over the pinned subset).",
						"name": "pinned",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"default": 1
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 20
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["sov", "mentions", "runs", "label"]
						},
						"required": false,
						"name": "sortBy",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						},
						"required": false,
						"name": "sortDirection",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product"]
												},
												"pagination": {
													"type": "object",
													"properties": {
														"page": {
															"type": "integer"
														},
														"pageSize": {
															"type": "integer"
														},
														"total": {
															"type": "integer"
														},
														"totalPages": {
															"type": "integer"
														}
													},
													"required": [
														"page",
														"pageSize",
														"total",
														"totalPages"
													]
												},
												"sort": {
													"type": "object",
													"properties": {
														"sortBy": {
															"type": "string",
															"enum": ["sov", "mentions", "runs", "label"]
														},
														"sortDirection": {
															"type": "string",
															"enum": ["asc", "desc"]
														},
														"sortableDimensions": {
															"type": "array",
															"items": {
																"type": "string",
																"enum": ["sov", "mentions", "runs", "label"]
															}
														}
													},
													"required": ["sortableDimensions"]
												},
												"calculation": {
													"type": "object",
													"properties": {
														"type": {
															"type": "string",
															"enum": ["trailing_ratio"]
														},
														"granularity": {
															"type": "string",
															"enum": ["day", "week", "month"]
														},
														"rollingWindow": {
															"type": "integer",
															"minimum": 1,
															"maximum": 30
														},
														"timezone": {
															"type": "string",
															"enum": ["UTC"]
														}
													},
													"required": [
														"type",
														"granularity",
														"rollingWindow",
														"timezone"
													]
												},
												"timeSeries": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"date": {
																"type": "string",
																"description": "UTC start date of the day, week, or month bucket represented by this point."
															},
															"sov": {
																"type": "number",
																"description": "Share of voice percentage from 0 through 100."
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															}
														},
														"required": ["date", "sov", "mentions", "runs"],
														"description": "A trailing-window snapshot. Mentions and runs overlap between adjacent dates and must not be summed across points."
													},
													"description": "Trailing-window snapshots for calendar buckets that intersect start and end. Each point is labeled by its UTC bucket-start date, and the calculation object identifies the applied window."
												},
												"products": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"product_id": {
																"type": "string"
															},
															"product_name": {
																"type": "string"
															},
															"sov": {
																"type": "number"
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															},
															"date": {
																"type": "string"
															}
														},
														"required": [
															"product_id",
															"product_name",
															"sov",
															"mentions",
															"runs"
														]
													}
												},
												"rows": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"dimension": {
																"type": "string",
																"enum": [
																	"product",
																	"prompt",
																	"topic",
																	"engine",
																	"competitor",
																	"sentiment"
																]
															},
															"key": {
																"type": "string"
															},
															"label": {
																"type": "string"
															},
															"date": {
																"type": "string"
															},
															"sov": {
																"type": "number"
															},
															"mentions": {
																"type": "integer"
															},
															"runs": {
																"type": "integer"
															},
															"rank": {
																"type": "integer"
															}
														},
														"required": [
															"dimension",
															"key",
															"label",
															"sov",
															"mentions",
															"runs"
														]
													}
												}
											},
											"required": [
												"scope",
												"pagination",
												"sort",
												"calculation",
												"timeSeries",
												"products",
												"rows"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/analytics/sentiment": {
			"get": {
				"operationId": "getAnalyticsSentiment",
				"summary": "Get per-prompt sentiment analytics for a product",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Product ID to use as the primary sentiment scope."
						},
						"required": true,
						"description": "Product ID to use as the primary sentiment scope.",
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["prompt"],
							"default": "prompt"
						},
						"required": false,
						"name": "by",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "View ID to scope results to prompts assigned to the view."
						},
						"required": false,
						"description": "View ID to scope results to prompts assigned to the view.",
						"name": "viewId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Prompt ID. Returns a daily sentiment time series for one prompt."
						},
						"required": false,
						"description": "Prompt ID. Returns a daily sentiment time series for one prompt.",
						"name": "promptId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1,
							"description": "Topic ID to filter per-prompt sentiment rows."
						},
						"required": false,
						"description": "Topic ID to filter per-prompt sentiment rows.",
						"name": "topicId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"description": "Start of date window, formatted as YYYY-MM-DD."
						},
						"required": false,
						"description": "Start of date window, formatted as YYYY-MM-DD.",
						"name": "start",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"description": "End of date window, formatted as YYYY-MM-DD."
						},
						"required": false,
						"description": "End of date window, formatted as YYYY-MM-DD.",
						"name": "end",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["true", "false"]
						},
						"required": false,
						"name": "wow",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														},
														"view": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																}
															},
															"required": ["id", "name"]
														}
													},
													"required": ["product"]
												},
												"rows": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"date": {
																"type": "string"
															},
															"promptId": {
																"type": "string"
															},
															"prompt": {
																"type": "string"
															},
															"topicId": {
																"type": ["string", "null"]
															},
															"totalMentions": {
																"type": "integer"
															},
															"positive": {
																"type": "integer"
															},
															"neutral": {
																"type": "integer"
															},
															"negative": {
																"type": "integer"
															},
															"positivePct": {
																"type": "number"
															},
															"neutralPct": {
																"type": "number"
															},
															"negativePct": {
																"type": "number"
															},
															"wow": {
																"type": "integer"
															},
															"wowPct": {
																"type": "number"
															},
															"negativeReasons": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															}
														},
														"required": [
															"promptId",
															"prompt",
															"topicId",
															"totalMentions",
															"positive",
															"neutral",
															"negative",
															"positivePct",
															"neutralPct",
															"negativePct",
															"negativeReasons"
														]
													}
												}
											},
											"required": ["scope", "rows"]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/analytics/explore": {
			"post": {
				"operationId": "postAnalyticsExplore",
				"summary": "Run a dimensional analytics query for a product",
				"description": "Query one analytics metric (sov, citations, traffic, sentiment) grouped by at most one dimension, scoped by filters and a date window. Returns flat rows plus column metadata for generic rendering.",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"productId": {
										"type": "string",
										"minLength": 1,
										"description": "Product ID to scope the query to."
									},
									"metric": {
										"type": "string",
										"enum": ["sov", "citations", "traffic", "sentiment"],
										"description": "Metric to query. Ungrouped and date-dimension SoV use configurable trailing snapshots rather than additive period totals."
									},
									"dimensions": {
										"type": "array",
										"items": {
											"type": "string",
											"minLength": 1
										},
										"maxItems": 1,
										"description": "At most one dimension to group by. Omit or pass [] for a summary. For metric=sov when dimensions are omitted or dimensions=[date] or dimensions=[engine], sov, mentions, and runs are trailing-window snapshot values. granularity selects day, week, or month buckets and rollingWindow counts those buckets; they default to day and 30. Omit dimensions to return the latest product snapshot, use dimensions=[date] for one snapshot per date, or use dimensions=[engine] for the latest snapshot per engine. The window selects eligible snapshot dates; it is not a period aggregation. Custom rolling settings are supported for product, date, and engine SOV series. Do not sum mentions or runs across dated rows because their rolling windows overlap. Capabilities — sov: dimensions [date, prompt, topic, engine, competitor], filters [viewId, promptId, topicId, engine, regionId], sortBy [sov, mentions, runs, label]; citations: dimensions [source, category, type, author, model, date], filters [viewId, topicId, regionId, category, contentType, model, author, searchTerm, productMentioned], sortBy [citations, mentions]; traffic: dimensions [date, page, model, category], filters [trafficType, provider, category]; sentiment: dimensions [prompt], filters [viewId, promptId, topicId]."
									},
									"filters": {
										"type": "object",
										"properties": {
											"viewId": {
												"type": "string",
												"minLength": 1,
												"description": "Scope to a saved view's prompts (sov, citations, sentiment)."
											},
											"promptId": {
												"type": "string",
												"minLength": 1,
												"description": "Scope to a single prompt (sov date drilldown, sentiment)."
											},
											"topicId": {
												"type": "string",
												"minLength": 1,
												"description": "Scope to a single topic/category (sov, citations, sentiment). With metric=sov and dimensions=[competitor] this returns the industry ranking within that topic."
											},
											"engine": {
												"type": "string",
												"minLength": 1,
												"description": "Answer engine filter for sov, e.g. chatgpt or sonar."
											},
											"regionId": {
												"type": "string",
												"minLength": 1,
												"description": "Region scope."
											},
											"category": {
												"type": "string",
												"minLength": 1,
												"description": "Source category (citations) or page category (traffic)."
											},
											"contentType": {
												"type": "string",
												"minLength": 1,
												"description": "Citations content type, e.g. article or youtube."
											},
											"model": {
												"type": "string",
												"minLength": 1,
												"description": "Citations: answer engine/model that cited the source."
											},
											"author": {
												"type": "string",
												"minLength": 1,
												"description": "Citations: author name filter."
											},
											"searchTerm": {
												"type": "string",
												"minLength": 1,
												"description": "Citations: case-insensitive URL/title search."
											},
											"productMentioned": {
												"type": "string",
												"enum": ["mentioned", "not_mentioned"],
												"description": "Citations: only sources where the product was (not) mentioned."
											},
											"trafficType": {
												"type": "string",
												"enum": ["ai", "human"],
												"description": "Traffic: ai (default) or human."
											},
											"provider": {
												"type": "string",
												"minLength": 1,
												"description": "Traffic: AI crawler or assistant filter, for example chatgpt."
											}
										},
										"additionalProperties": false
									},
									"window": {
										"type": "object",
										"properties": {
											"start": {
												"type": "string",
												"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
												"description": "ISO date (YYYY-MM-DD)."
											},
											"end": {
												"type": "string",
												"pattern": "^\\d{4}-\\d{2}-\\d{2}$",
												"description": "ISO date (YYYY-MM-DD)."
											}
										},
										"description": "Date window; both start and end or neither. Defaults to the last 30 days. Maximum 366 inclusive days. For metric=sov when dimensions are omitted or dimensions=[date] or dimensions=[engine], sov, mentions, and runs are trailing-window snapshot values. granularity selects day, week, or month buckets and rollingWindow counts those buckets; they default to day and 30. Omit dimensions to return the latest product snapshot, use dimensions=[date] for one snapshot per date, or use dimensions=[engine] for the latest snapshot per engine. The window selects eligible snapshot dates; it is not a period aggregation. Custom rolling settings are supported for product, date, and engine SOV series. Do not sum mentions or runs across dated rows because their rolling windows overlap."
									},
									"granularity": {
										"type": "string",
										"enum": ["day", "week", "month"],
										"description": "UTC bucket and rollingWindow unit for metric=sov, or time bucket for metric=traffic with dimensions=[date]. Defaults to day."
									},
									"rollingWindow": {
										"type": "integer",
										"minimum": 1,
										"maximum": 30,
										"description": "Number of granularity buckets in each metric=sov snapshot. Defaults to 30."
									},
									"compare": {
										"type": "string",
										"enum": ["wow"],
										"description": "Week-over-week comparison, metric=sentiment only."
									},
									"page": {
										"type": "integer",
										"minimum": 1,
										"maximum": 100
									},
									"pageSize": {
										"type": "integer",
										"minimum": 1,
										"maximum": 100
									},
									"sortBy": {
										"type": "string",
										"minLength": 1
									},
									"sortDirection": {
										"type": "string",
										"enum": ["asc", "desc"]
									}
								},
								"required": ["productId", "metric"],
								"additionalProperties": false
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"metric": {
													"type": "string",
													"enum": ["sov", "citations", "traffic", "sentiment"]
												},
												"dimensions": {
													"type": "array",
													"items": {
														"type": "string"
													}
												},
												"scope": {
													"type": "object",
													"properties": {
														"product": {
															"type": "object",
															"properties": {
																"id": {
																	"type": "string"
																},
																"name": {
																	"type": "string"
																},
																"slug": {
																	"type": "string"
																}
															},
															"required": ["id", "name", "slug"]
														}
													},
													"required": ["product"]
												},
												"window": {
													"type": "object",
													"properties": {
														"start": {
															"type": "string"
														},
														"end": {
															"type": "string"
														}
													},
													"required": ["start", "end"]
												},
												"granularity": {
													"type": "string",
													"enum": ["day", "week", "month"]
												},
												"rollingWindow": {
													"type": "integer",
													"minimum": 1,
													"maximum": 30
												},
												"compare": {
													"type": "string",
													"enum": ["wow"]
												},
												"columns": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"key": {
																"type": "string"
															},
															"label": {
																"type": "string"
															},
															"kind": {
																"type": "string",
																"enum": ["dimension", "metric"]
															},
															"type": {
																"type": "string",
																"enum": ["string", "number", "date"]
															}
														},
														"required": ["key", "label", "kind", "type"]
													}
												},
												"rows": {
													"type": "array",
													"items": {
														"type": "object",
														"additionalProperties": {
															"anyOf": [
																{
																	"type": "string"
																},
																{
																	"type": "number"
																},
																{
																	"type": "boolean"
																},
																{
																	"type": "null"
																}
															]
														}
													}
												},
												"pagination": {
													"type": "object",
													"properties": {
														"page": {
															"type": "integer"
														},
														"pageSize": {
															"type": "integer"
														},
														"total": {
															"type": "integer"
														},
														"totalPages": {
															"type": "integer"
														}
													},
													"required": [
														"page",
														"pageSize",
														"total",
														"totalPages"
													]
												},
												"totals": {
													"type": "object",
													"additionalProperties": {
														"type": "number"
													}
												}
											},
											"required": [
												"metric",
												"dimensions",
												"scope",
												"window",
												"columns",
												"rows"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/analytics/events": {
			"post": {
				"operationId": "postAnalyticsEvents",
				"summary": "Ingest server-side SDK analytics event (page_visit)",
				"tags": ["Visibility & Mentions"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"event": {
										"type": "string",
										"enum": ["page_visit"]
									},
									"occurredAt": {
										"type": "string",
										"format": "date-time"
									},
									"eventId": {
										"type": "string",
										"minLength": 1
									},
									"sessionId": {
										"type": ["string", "null"]
									},
									"anonymousId": {
										"type": ["string", "null"]
									},
									"page": {
										"type": "object",
										"properties": {
											"href": {
												"type": "string",
												"format": "uri"
											},
											"domain": {
												"type": "string"
											},
											"pathname": {
												"type": "string"
											},
											"title": {
												"type": ["string", "null"]
											},
											"canonicalUrl": {
												"type": ["string", "null"],
												"format": "uri"
											}
										},
										"required": ["href"]
									},
									"request": {
										"type": "object",
										"properties": {
											"referrer": {
												"type": ["string", "null"]
											},
											"userAgent": {
												"type": ["string", "null"]
											},
											"clientIp": {
												"type": ["string", "null"]
											},
											"method": {
												"type": ["string", "null"]
											}
										}
									},
									"sdk": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"version": {
												"type": "string"
											},
											"runtime": {
												"type": "string"
											}
										}
									},
									"properties": {
										"type": "object",
										"additionalProperties": {
											"anyOf": [
												{
													"type": "string"
												},
												{
													"type": "number"
												},
												{
													"type": "boolean"
												},
												{
													"type": "null"
												}
											]
										}
									}
								},
								"required": ["event", "page"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"ok": {
													"type": "boolean",
													"enum": [true]
												},
												"data": {
													"type": "object",
													"properties": {
														"accepted": {
															"type": "boolean",
															"enum": [true]
														},
														"eventId": {
															"type": "string"
														},
														"status": {
															"type": "string",
															"enum": ["accepted"]
														},
														"receivedAt": {
															"type": "string",
															"format": "date-time"
														}
													},
													"required": [
														"accepted",
														"eventId",
														"status",
														"receivedAt"
													]
												}
											},
											"required": ["ok", "data"]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/sources/analytics": {
			"get": {
				"operationId": "getSourcesAnalytics",
				"summary": "Get cited-source analytics and citation events",
				"tags": ["Traffic & Sources"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"minLength": 1
							},
							"description": "Product ID scope. Repeat to include multiple products. Prefer this over simulationBrandIds."
						},
						"required": false,
						"description": "Product ID scope. Repeat to include multiple products. Prefer this over simulationBrandIds.",
						"name": "productId",
						"in": "query"
					},
					{
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"minLength": 1
							},
							"deprecated": true,
							"description": "Deprecated. Use productId. Existing cited-source callers may pass this repeated product ID parameter."
						},
						"required": false,
						"description": "Deprecated. Use productId. Existing cited-source callers may pass this repeated product ID parameter.",
						"deprecated": true,
						"name": "simulationBrandIds",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 1
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 1000,
							"default": 10
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 100,
							"default": 1
						},
						"required": false,
						"name": "eventPage",
						"in": "query"
					},
					{
						"schema": {
							"type": "integer",
							"minimum": 1,
							"maximum": 1000,
							"default": 100
						},
						"required": false,
						"name": "eventPageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "category",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "contentType",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["self", "competitor", "other"],
							"description": "Filter by per-brand ownership of the source. Independent of category (content type). Requires the per-brand ownership sync in Tinybird (DEV-2310)."
						},
						"required": false,
						"description": "Filter by per-brand ownership of the source. Independent of category (content type). Requires the per-brand ownership sync in Tinybird (DEV-2310).",
						"name": "ownership",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "model",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "searchTerm",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "viewId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "topicId",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": false,
						"name": "regionId",
						"in": "query"
					},
					{
						"schema": {
							"type": "boolean",
							"description": "When regionId is set, include citation rows whose region is unset."
						},
						"required": false,
						"description": "When regionId is set, include citation rows whose region is unset.",
						"name": "includeNullRegions",
						"in": "query"
					},
					{
						"schema": {
							"type": "boolean",
							"default": false,
							"description": "Include row-level citation events. Defaults to false for performance. Only needed for detailed event analysis."
						},
						"required": false,
						"description": "Include row-level citation events. Defaults to false for performance. Only needed for detailed event analysis.",
						"name": "includeEvents",
						"in": "query"
					},
					{
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"format": "uri"
							}
						},
						"required": false,
						"name": "urls",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["mentioned", "not_mentioned"],
							"description": "Filter to sources where the product was mentioned or not mentioned. Sources without mention analysis are excluded from both."
						},
						"required": false,
						"description": "Filter to sources where the product was mentioned or not mentioned. Sources without mention analysis are excluded from both.",
						"name": "productMentioned",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$"
						},
						"required": false,
						"name": "startDate",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"pattern": "^\\d{4}-\\d{2}-\\d{2}$"
						},
						"required": false,
						"name": "endDate",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["citation_count", "unique_conversations"]
						},
						"required": false,
						"name": "sortBy",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"]
						},
						"required": false,
						"name": "sortOrder",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {
											"type": "object",
											"properties": {
												"data": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"id": {
																"type": "string"
															},
															"hostname": {
																"type": "string"
															},
															"path": {
																"type": "string"
															},
															"search": {
																"type": "string"
															},
															"citation_count": {
																"type": "integer"
															},
															"unique_conversations": {
																"type": "integer"
															},
															"category": {
																"type": ["string", "null"]
															},
															"content_type": {
																"type": ["string", "null"]
															},
															"ownership": {
																"type": ["string", "null"]
															},
															"brand_name": {
																"type": "string"
															},
															"brand_slug": {
																"type": ["string", "null"]
															},
															"simulation_brand_id": {
																"type": "string"
															},
															"answer_engines": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															},
															"product_mentioned": {
																"type": ["boolean", "null"]
															},
															"title": {
																"type": ["string", "null"]
															},
															"author_id": {
																"type": "string"
															},
															"authorId": {
																"type": "string"
															},
															"author_name": {
																"type": "string"
															},
															"authorName": {
																"type": "string"
															},
															"creator_id": {
																"type": ["string", "null"]
															},
															"creatorId": {
																"type": ["string", "null"]
															},
															"creator_name": {
																"type": ["string", "null"]
															},
															"creatorName": {
																"type": ["string", "null"]
															},
															"date": {
																"type": "string"
															},
															"created_at": {
																"type": "string"
															},
															"createdAt": {
																"type": "string"
															}
														},
														"required": ["hostname", "citation_count"]
													}
												},
												"total": {
													"type": "integer"
												},
												"totalCitations": {
													"type": "integer"
												},
												"page": {
													"type": "integer"
												},
												"pageSize": {
													"type": "integer"
												},
												"events": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"date": {
																"type": "string"
															},
															"product_id": {
																"type": "string"
															},
															"product_name": {
																"type": "string"
															},
															"product_slug": {
																"type": "string"
															},
															"prompt_id": {
																"type": "string"
															},
															"prompt_text": {
																"type": "string"
															},
															"topic_id": {
																"type": "string"
															},
															"topic_name": {
																"type": "string"
															},
															"model": {
																"type": "string"
															},
															"citation_url": {
																"type": "string"
															},
															"citation_domain": {
																"type": "string"
															},
															"source_category": {
																"type": "string"
															},
															"content_type": {
																"type": "string"
															},
															"mentioned_product_id": {
																"type": ["string", "null"]
															},
															"mentioned_product_name": {
																"type": "string"
															},
															"url_citation_count": {
																"type": "number"
															},
															"conversation_query_run_id": {
																"type": "string"
															},
															"view_ids": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															},
															"view_names": {
																"type": "array",
																"items": {
																	"type": "string"
																}
															},
															"overall_sentiment": {
																"type": ["string", "null"],
																"enum": [
																	"positive",
																	"neutral",
																	"negative",
																	null
																]
															}
														},
														"required": [
															"date",
															"product_id",
															"product_name",
															"product_slug",
															"prompt_id",
															"prompt_text",
															"topic_id",
															"topic_name",
															"model",
															"citation_url",
															"citation_domain",
															"source_category",
															"content_type",
															"mentioned_product_name",
															"url_citation_count",
															"conversation_query_run_id",
															"view_ids",
															"view_names"
														]
													}
												},
												"eventPagination": {
													"type": "object",
													"properties": {
														"page": {
															"type": "integer"
														},
														"pageSize": {
															"type": "integer"
														},
														"total": {
															"type": "integer"
														},
														"totalPages": {
															"type": "integer"
														}
													},
													"required": [
														"page",
														"pageSize",
														"total",
														"totalPages"
													]
												}
											},
											"required": [
												"data",
												"total",
												"totalCitations",
												"page",
												"pageSize",
												"events",
												"eventPagination"
											]
										}
									},
									"required": ["ok", "data"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/brands": {
			"get": {
				"operationId": "getBrands",
				"summary": "List products (brands) in the active organization",
				"tags": ["Products"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "search",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "currentBrandSlug",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "page",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "pageSize",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["createdAt", "name"],
							"default": "createdAt"
						},
						"required": false,
						"name": "sortBy",
						"in": "query"
					},
					{
						"schema": {
							"type": "string",
							"enum": ["asc", "desc"],
							"default": "desc"
						},
						"required": false,
						"name": "sortOrder",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "fetchAll",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "includeDomains",
						"in": "query"
					},
					{
						"schema": {
							"type": "string"
						},
						"required": false,
						"name": "orgSlug",
						"in": "query"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {}
									},
									"required": ["ok"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "postBrands",
				"summary": "Create a product (brand) in the active organization",
				"tags": ["Products"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string",
										"minLength": 1
									},
									"domain": {
										"type": "string",
										"minLength": 1
									},
									"slug": {
										"type": "string",
										"minLength": 1,
										"maxLength": 63
									},
									"description": {
										"type": "string"
									},
									"keywords": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"differentiators": {
										"type": "array",
										"items": {
											"type": "string"
										}
									},
									"competitors": {
										"type": "array",
										"items": {}
									},
									"skipAutoContext": {
										"type": "boolean"
									},
									"context": {}
								},
								"required": ["name", "domain", "slug"],
								"additionalProperties": {}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {}
									},
									"required": ["ok"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/brands/{brandId}": {
			"get": {
				"operationId": "getBrandsBrandId",
				"summary": "Get a product by ID",
				"tags": ["Products"],
				"security": [
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "brandId",
						"in": "path"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {}
									},
									"required": ["ok"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			},
			"put": {
				"operationId": "putBrandsBrandId",
				"summary": "Replace product settings by ID",
				"tags": ["Products"],
				"security": [
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "brandId",
						"in": "path"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									},
									"domain": {
										"type": "string"
									},
									"description": {
										"type": "string"
									},
									"slug": {
										"type": "string"
									},
									"keywords": {
										"type": ["array", "null"],
										"items": {
											"type": "string"
										},
										"maxItems": 50
									},
									"isPublic": {
										"type": "boolean"
									},
									"differentiators": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"maxItems": 25
									},
									"preferredLanguage": {
										"type": "string"
									},
									"competitors": {
										"type": "array",
										"items": {
											"anyOf": [
												{
													"type": "string"
												},
												{
													"type": "object",
													"properties": {
														"domain": {
															"type": "string"
														},
														"reasoning": {
															"type": "string"
														},
														"verified": {
															"type": "boolean"
														}
													},
													"required": ["domain"]
												}
											]
										}
									},
									"context": {}
								},
								"required": ["name"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [true]
										},
										"data": {}
									},
									"required": ["ok"]
								}
							}
						}
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"401": {
						"description": "Authentication required",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"404": {
						"description": "Not found",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"422": {
						"description": "Validation failed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					},
					"500": {
						"description": "Internal server error",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"ok": {
											"type": "boolean",
											"enum": [false]
										},
										"code": {
											"type": "string"
										},
										"message": {
											"type": "string"
										},
										"details": {}
									},
									"required": ["ok", "code", "message"]
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/products/{productId}/knowledge/retrieve": {
			"post": {
				"operationId": "postProductsProductIdKnowledgeRetrieve",
				"summary": "Retrieve product knowledge across documents and code",
				"description": "Retrieves product-scoped knowledge through public source types. The request uses include values such as documents, generated, and code; raw corpus ids and storage backends are not part of the public contract.",
				"tags": ["Knowledge"],
				"security": [
					{
						"apiKeyAuth": []
					},
					{
						"bearerAuth": []
					},
					{
						"cookieAuth": []
					}
				],
				"parameters": [
					{
						"schema": {
							"type": "string",
							"minLength": 1
						},
						"required": true,
						"name": "productId",
[...]
